<div class="task-container">
  <!-- Header Section with Back Button, Title, and Add Task Button -->
  <div class="task-header">
    <button class="back-btn" (click)="goBack()">← Back</button>
    <h2>Tasks for Project : {{ projectName }}</h2>
    <button class="add-btn" (click)="navigateToAddTask()">Add Task</button>
  </div>

  <table>
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Task Name</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Estimate</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of relatedTasks">
        <!-- <td>{{ task.id }}</td> -->
        <td>{{ task.title }}</td>
        <td>{{ task.assignedTo }}</td>
        <td>
          <span [ngClass]="getStatusBadgeClass(task.status)" class="badge">{{ task.status }}</span>
        </td>
        <td>{{ task.priority }}</td>
        <td>{{ task.estimate }}</td>
        <td>{{ task.dueDate }}</td>
        <td>
          <button class="edit-btn" (click)="editTask(task.id)">Edit</button>
          <button class="delete-btn" (click)="deleteTask(task.id)">Delete</button>
        </td>
        
      </tr>
    </tbody>
  </table>
  
</div>

<div #notification class="notification"></div>