<!-- <div class="form-container">
  <h2>{{ isEdit ? 'Edit Project' : 'Add Project' }}</h2>

  <form (submit)="saveProject()">
    <label>Title</label>
    <input type="text" [(ngModel)]="project.title" name="title" required />

    <label>Description</label>
    <textarea [(ngModel)]="project.description" name="description" required></textarea>

    <label>Created By</label>
    <input type="text" [(ngModel)]="project.createdBy" name="createdBy" required />

    <label>Project Manager</label>
    <input type="text" [(ngModel)]="project.projectManager" name="projectManager" required />

    <label>Start Date</label>
    <input type="date" [(ngModel)]="project.startDate" name="startDate" required />

    <label>End Date</label>
    <input type="date" [(ngModel)]="project.endDate" name="endDate" required />

    <button type="submit">{{ isEdit ? 'Update' : 'Create' }}</button>
    <button type="button" (click)="router.navigate(['/projects'])">Cancel</button>
  </form>
</div> -->
